NativeSocketTest/bin/Debug/TestSocket.exe
NativeSocketTest/bin/Debug/TestSocket.pdb
NativeSocketTest/obj/Debug/DesignTimeResolveAssemblyReferences.cache
NativeSocketTest/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
NativeSocketTest/obj/Debug/NativeSocketTest.csproj.CoreCompileInputs.cache
NativeSocketTest/obj/Debug/NativeSocketTest.csproj.FileListAbsolute.txt
NativeSocketTest/obj/Debug/NativeSocketTest.csproj.GenerateResource.Cache
NativeSocketTest/obj/Debug/NativeSocketTest.csprojResolveAssemblyReference.cache
NativeSocketTest/obj/Debug/TestSocket.csproj.CoreCompileInputs.cache
NativeSocketTest/obj/Debug/TestSocket.csproj.FileListAbsolute.txt
NativeSocketTest/obj/Debug/TestSocket.csproj.GenerateResource.Cache
NativeSocketTest/obj/Debug/TestSocket.exe
NativeSocketTest/obj/Debug/TestSocket.Form1.resources
NativeSocketTest/obj/Debug/TestSocket.pdb
NativeSocketTest/obj/Debug/TestSocket.Properties.Resources.resources
